Getting SQL to work on my computer was the biggest hurdle to answering the SQL questions, which is why I was so surprsed when this worked out of the box. 

This explanation assumes you've read czy_assessment_workflow_python first.

# EXAMPLE: COUNT NEIGHBORHOODS

### STEP 1: Import sqlite3

In [1]:
import sqlite3 as sql

### STEP 2: Copy the 'run_sql_query' function from the test file

this is just some magic that connects python to sql

In [2]:
def run_sql_query(command, db='data/housing.sqlite'):
    if not command:
        return []
    con = sql.connect(db)
    c = con.cursor()
    data = c.execute(command)
    return [d for d in data]
    con.close()

### STEP 3: Copy the function stub

In [3]:
def sql_count_neighborhoods():
    '''
    INPUT: None
    OUTPUT: string
    Return a SQL query that gives the number of neighborhoods in each city
    according to the rent table. Keep in mind that city names are not always
    unique unless you include the state as well, so your result should have
    these columns: city, state, cnt
    '''
    pass

### STEP 3: Copy the test lines

    result = run_sql_query(a.sql_count_neighborhoods())
    self.assertEqual(len(result), 177)
    sf, portland = None, None
    for line in result:
        if line[0] == 'San Francisco':
            sf = int(line[2])
        elif line[0] == 'Portland' and line[1] == 'ME':
            portland = int(line[2])
    self.assertEqual(sf, 62)
    self.assertEqual(portland, 13)

### STEP 4: Edit the test lines

there's a lot going on here, but the same rules apply as before

1) remove the 'a' before the function call

2) replace self.assert with print and the comma with double equals

In [4]:
result = run_sql_query(sql_count_neighborhoods())
print(len(result) == 177)
sf, portland = None, None
for line in result:
    if line[0] == 'San Francisco':
        sf = int(line[2])
    elif line[0] == 'Portland' and line[1] == 'ME':
        portland = int(line[2])
print(sf == 62)
print(portland == 13)

False
False
False

### STEP 5: Put all of it together in one cell and make it work!

In [5]:
def sql_count_neighborhoods():
    '''
    INPUT: None
    OUTPUT: string
    Return a SQL query that gives the number of neighborhoods in each city
    according to the rent table. Keep in mind that city names are not always
    unique unless you include the state as well, so your result should have
    these columns: city, state, cnt
    '''
    return '''SELECT city, state, COUNT(1) AS cnt
              FROM rent
              GROUP BY city, state;'''

result = run_sql_query(sql_count_neighborhoods())
print(len(result) == 177)
sf, portland = None, None
for line in result:
    if line[0] == 'San Francisco':
        sf = int(line[2])
    elif line[0] == 'Portland' and line[1] == 'ME':
        portland = int(line[2])
print(sf == 62)
print(portland == 13)

True
True
True

### Yay!